.profile-picture{
    height: 70px;
    border-radius: 50%;
}

#name{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-top: 5px;
    padding-bottom: 10px;
}

.body{
    max-width: 595px;
    height: 842px;
    display:flex;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 2%;
    width: 595px;
}

.index-body{
    display:flex;
    justify-content: center;
}

.main-part{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4%
}

h2{
    font-size: 23px;
}
i{
    font-weight: 700;
}

h1{
    font-size: 28px;
}

.status{
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
}

img{
    height: 400px;
}

@media print{
    footer{
        display:none;
    }
}

@media (max-width:645px){
    .main-part{
        display:flex;
        flex-direction: column;
    }

    div.second{
        display:flex;
        flex-direction: column;
    }

    #contact{
        order:2;
    }

    #skills{
        order:1;
    }

    #hobbies{
        order:3;
    }

    #other{
        order: 4;
    }

    .profile-picture{
        align-self: center;
    }
}