.profile-picture{
    height: 200px;
}

.inline-img{
    display: inline-block;
    border-radius: 2%;
    margin: 0;
    padding:0;
}

.inline-course{
    display: inline-block;
    border-radius: 2%;
    height: 15em;
}

.block-img{
    display: block;
    border-radius: 2%;
}

img{
    height: 400px;
}

